---
---
@import "minima";
.moreish {
  font-size: smaller;
  margin-top: 0em;
}

.excerpted {
  color: DarkGray;
}

.excerpted p {
  margin-bottom: .2em
}

.mylistposts {
  margin-top: 1.5em;
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  max-width: 40%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  float: right;
}
